.f{
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 20px 20px;
    

}



.k{
    margin-left: 20px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 77, 12);
    border-radius: 4px;
    width: 33px;
    padding-left: 3px;
}
